<nav>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</nav>

<style>
  ul {
    list-style: none;
  }

  li a {
    text-transform: uppercase;
    color: #2e2e2e;
    text-decoration: none;
  }
</style>