<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/public/statics/nodejs.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Node JS!</title>
</head>
<body>
  <% include partials/nav.ejs %>
  <h1>I'm a HTML File that is being served by Node.JS :D</h1>
  <p>How cool is this that I can do this with JavaScript</p>
  <br>
  <form id="contact-form" action="/" method="POST">
    <label for="who">Who do you want to contact</label>
    <input type="text" name="who" value="<%= qs.person %>">
    <br>
    <br>
    <label for="department">Which Department</label>
    <input type="text" name="department"  value="<%= qs.dept %>">
    <br>
    <br>
    <input type="submit" value="submit">
  </form>
</body>
</html
